body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFBD4;
    text-align: center;
    background-color: #090614;
    margin: 0;
    padding: 0;
}

.slideshow-container {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 7/10;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.timer {
    font-size: 30px;
    color: #FFFBD4;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.timer:hover {
    transform: scale(1.1);
}

.timer-title {
    font-size: 20px;
    color: #F0F0F0;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .slideshow-container {
        width: 90%;
    }
    .timer {
        font-size: 24px;
        padding: 8px;
    }
    .timer-title {
        font-size: 18px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
}
