/* Basic Styling */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #090614; /* Original background color */
    color: #fff; /* White text color for better contrast with dark background */
    transition: background-color 0.3s, color 0.3s;
}

/* Timer Styling */
#timer {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding: 5%;
}

#timer-title {
    font-size: 36px; /* Title font size */
    font-weight: 100;
}

.unit-container {
    display: flex;
    margin-top: 10px;
}

.unit-container span {
    font-size: 40px;
    margin: 0 10px;
}

.timer {
    font-weight: 600;
    font-size: 50px; /* Adjusted for better visibility */
    margin-top: 5px;
}

.timer span {
    font-weight: 300;
}

#timer .fade-in {
    animation: fadeIn 0.5s ease-out;
}

#timer .fade-out {
    animation: fadeOut 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Slideshow Styling */
.slides {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides img {
    width: 100%; /* Image width will take full width of container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
    display: block; /* Remove any space below the image */
    margin: 0 auto; /* Center the image */
}

/* Animations */
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #timer-title {
        font-size: 28px; /* Adjust font size for mobile screens */
    }

    .unit-container span {
        font-size: 18px; /* Smaller font size for timer numbers */
    }

    .timer {
        font-size: 40px; /* Adjusted for mobile screen visibility */
    }
}
