/* Basic reset for body and html */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}

/* Slideshow container styling */
.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

/* Hide slides by default */
.slides {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Add a fade-in effect for slides */
.slides.active {
    display: block;
    animation: fade 1s ease-in-out;
}

/* Keyframe for fade effect */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Timer container styling */
#timer-container {
    text-align: center;
    margin-top: 40px;
}

.timer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 100;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Timer unit container */
.unit-container {
    margin: 0 10px;
    text-align: center;
}

/* Add smooth transition for fade-in and fade-out effects */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

/* Remove outlines from focused elements */
*:focus {
    outline: none !important;
}

/* Specifically remove outline from timer and slideshow images when focused */
#timer-container:focus,
#timer:focus,
.slides:focus {
    outline: none !important;
}

/* Text styling */
h1, h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}

/* Style for the text under timer */
h1, .slideshow-container {
    color: #333;
}

/* Spotify iframe styling */
iframe {
    padding-top: 40px;
    border: none;
    width: 66%;
    height: 150px;
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .slideshow-container {
        width: 100%;
    }

    .unit-container {
        font-size: 20px;
    }

    #timer {
        font-size: 24px;
        padding: 10px;
    }

    iframe {
        width: 80%;
    }
}
